<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/login.css" />
    <title>Agrohub</title>
    <link rel="icon" href="/public/img/Agrohub1.webp" type="image/png" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <div class="usuario">
        <input type="text" id="username" placeholder="Usuário" required />
      </div>
      <div class="senha">
        <input type="password" id="password" placeholder="Senha" required />
      </div>
      <button onclick="window.location.href='/views/home.html'">Entrar</button>
      <div class="registre-link">
        <p>Não é registrado? <a href="registro.html">Registre aqui</a></p>
      </div>
      <div class="logo">
        <img src="/public/img/Agrohub1.webp" alt="Logo Agrohub" />
      </div>
    </div>
  </body>
</html>
